* {
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}

a {
    text-decoration: none;
}

.top {
    width: 100%;
    padding: 1rem 11rem ;
    background-color: #d7e9ff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.hidden_top {
    width: 100%;
    padding: 1rem 11rem ;
    background-color: #d7e9ff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.top h4 {
    font-size: 1rem;
    font-family: Mallory-Medium,'Gill Sans','Gill Sans MT',Calibri,Arial,sans-serif;
    line-height: 2.21428571;
    font-weight: 500;
    font-style: normal;

}

.top p {
    text-decoration: underline; 
    text-underline-position:under;
    text-decoration-thickness: 0.5px;
    line-height: 2.2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    font-weight:lighter;
}

.top p a {
    color: black;
}

.main_nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2.5rem 0;
}

.main_nav_logo img {
    height: 5rem;
    width: 10rem;
    padding: 1.3rem 2.8rem;
}

.main_nav_menubox{
    display: flex;
    flex-direction: column;
}

.main_nav_top_menu {
    display: flex;
    flex-wrap: nowrap;
    font-family: Mallory-Medium,'Gill Sans','Gill Sans MT',Calibri,Arial,sans-serif;
    padding: 1rem 4rem 0.5rem 10rem;
}

.first_menu{
    padding-top:1rem; 
}

.main_nav_top_menu a {
    padding: 1rem 0.5rem;
    font-size: 1rem;
    color: #286dc0;
}

.main_nav_top_button{
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: 0 1rem;
    
}

.search_but {
    padding: 1rem 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
}
.search_but a {
    color: #00356b;
    font-family: Mallory-Medium,'Gill Sans','Gill Sans MT',Calibri,Arial,sans-serif;
    font-weight: 100;
    font-size: 0.8rem;
}
.search_but i {
    margin-right: 0.1rem;
}

.info_but {
    margin: 0 0.5rem;
    padding: 1rem 1rem;
    border: none;
    background-color: #00356b;
}
.hidden_info_but {
    margin: 0 0.5rem;
    padding: 1rem 1rem;
    border: none;
    background-color: #00356b;
}
.hidden_info_but a {
    font-family: Mallory-Medium,'Gill Sans','Gill Sans MT',Calibri,Arial,sans-serif;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
}
.hidden_info_but i {
 font-size: 1rem;
 margin-right: 1rem;
 color: white;   
}

.info_but a {
    font-family: Mallory-Medium,'Gill Sans','Gill Sans MT',Calibri,Arial,sans-serif;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
}
.info_but i {
    font-size: 1rem;
    margin-left: 1rem;
}

.go_but{
    padding: 0.9rem 0.5rem;
    background-color: #4a4a4a;
}

.go_but a {
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: Mallory-Medium,'Gill Sans','Gill Sans MT',Calibri,Arial,sans-serif;
    
}

.sec_menu{
    display: flex;
    flex-wrap: nowrap;
    padding: 0.8rem 0 0 8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4rem;
}

.sec_menu a {
    padding-right: 2rem;
    color:#00356b; 
}


@media screen and (max-width: 1258px) {
    .main_nav_top_menu {
        display: flex;
        flex-wrap: nowrap;
        font-family: Mallory-Medium,'Gill Sans','Gill Sans MT',Calibri,Arial,sans-serif;
        padding: 1rem 4rem 0.5rem 0;
    }

    .sec_menu{
        display: flex;
        flex-wrap: nowrap;
        padding: 0.8rem 0 0 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.4rem;
    }
}

@media screen and (max-width:960px) {
    .top {
        display: none;
    }
    
    .main_nav{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding:2.5rem 0;
    }

    .main_nav_top_button{
        padding-top: 1.5rem;
    }


    .hidden_top {
        padding: 1rem 4rem;
    }

    .sec_menu {
        display: none;
    }
    .first_menu {
        display: none;
    }
    .info_but {
        display: none;
    }
    .go_but {
        display: none;
    }
    .search_but a {
        font-size: 0.8rem;
        font-weight: bold;
    }
}

@media screen and (min-width:960px) {
    .hidden_top{
        display: none;
    }
    .hidden_info_but {
        display: none;
    }
}

@media screen and (max-width: 718px) {
    .main_nav_logo img {
        height: 4rem;
        width: 8rem;
    }
    .search_but {
        padding: 1rem 1rem;
    }
    .search_but a {
        display: none;
    }
    .search_but i {
        margin:0;
        padding: 0;
    }
    .hidden_info_but a {
        display: none;
    }
    .hidden_info_but i {
        margin: 0;
    }
}


